<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.syx.mapper.equipMapper">
<select id="findAllEquip" parameterType="map" resultType="map">
    select * from tb_equip
    <where>
        <if test="medicine_department!=null">
            and medicine_department = #{medicine_department}
        </if>
        <if test="t_device_name!=null">
            and t_device_name like concat("%",concat(#{t_device_name},"%"))
        </if>
    </where>
</select>

    <select id="findAllCount" resultType="int">
        select  count(*) from tb_equip
    </select>
</mapper>
